.wrapIcon {
    align-items: center;
    display: flex;
}
.secondaryDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #7d7d7d;
}
.draggableBox{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    background: white;
    user-select: none;
    margin: 15px;
    position: relative;
}

.task-container {
    width: 100%;
    min-height: 600px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 4px;
    border-radius: 15px;
    transition: 1s;
    scrollbar-width: thin;
    scrollbar-color: #006df9 #e4e4e4;
}

.task-container::-webkit-scrollbar {
    width: 5px;
  }
  .task-container::-webkit-scrollbar-track {
    background: #e4e4e4;
  }
  .task-container::-webkit-scrollbar-thumb {
    background-color: #006df9;
    border-radius: 20px;
    border: 10px solid;
    border-color: #006df9;
  }

.block2 {
    width: 4%;
    height: 10%;
    position: absolute;
    top: 5%;
    left: 100%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}
